{%extends '::base.html.twig' %}
{%block title%}
Bienvenido a mi página web
{%endblock%}
{%block body%}
    <div id="layout">
        <div id="encabezado">
            <h1></h1> 
            
        </div>
            <div id="contenido">
                
            </div>
            
        <div id="pie">
            <p>Pie {{"now"|date("m/d/Y")}}</p>
        </div>
        
    </div>
{%endblock%}