{%extends'UsuarioInscripcionBundle:Default:index.html.twig'%}
{%block title%}Formulario de Inscripcion a pasantías no rentadas{%endblock%}
{%block body%}

    <div id="contenido">
         <form action="{{ path('formulario') }}" method="post" {{form_enctype (form) }}>
              {{ form_widget(form) }}
              <input type="submit" />
         </form>
    </div>
{%endblock%}
